/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1{
    font-family:fantasy;
    font-size: 50px;
    color:#c871d6;
    text-align: center;
}
#add-new-to-do-button {
    background-color:#0a59ad;
    border:none;
    color: #929ba3;
    padding: 3px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    border-radius:50px;}
#add-new-to-do-button:hover{
    background-color: #8bb8e8;
}
li{padding:10px;
color:#D671C8;}
li:hover{background-color:rgba(225, 245, 254, 0.7);
border-radius:3px;}
body {
    background-image: url("https://girlwiththecomicbooktattoo.files.wordpress.com/2013/02/flags.jpg");
    background-size: 900px;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-color: #f9f8f4;
}
span{
    color:#006eba;
}