<h3>Todo #<%=params[:id]=%></h3>
<span class="font">
        Edit to-do</span> <br>
        <br>
        <span class="font2">
        <%= @todo_title =%><br>
        <br>
        <%= @todo_description =%><br></span>
        <span class="font3">
        <%= @todo_pomodoro_estimate =%> pomodoros</span><br>
        <br>
        Enter edited to-do:
        <input id="edit-to-do" type="text" name="title" placeholder="Edit to-do title..."><br>
        Enter edited description:
        <input id="edit-description" type="text" name="description" placeholder="Edit description (optional)..."><br>
        Enter edited pomodoro estimate:
        <input id="edit-pomo-estimate" type="number" name="pomodoro_estimate" placeholder="Edit pomodoro estimate..."><br>
        <input id="edit-to-do-button" type="submit" value="Enter"> 
        <a href="/todo/index"><input id="done-button" type="submit" value="Done"></a>
        