 <h1>To-Do List</h1>
        <form action="/action_page.php" method="get">
          <ol>
            <li>
                <input type="checkbox" id = "check" name="to-do" value="1"> 
                <a href="show/1" class="hover_button">Read English Intro and Chapter 1 </a> --
                <span class="pomodoros">5 pomodoros </span><br>
            </li>
            <li> 
                <input type="checkbox" name="to-do" value="2"> 
                <a href="show/2">Do English Assignment</a> -- 
                <span class="pomodoros">3 pomodoros </span> <br> 
            </li>
            <li> 
                <input type="checkbox" name="to-do" value="3"> 
                <a href="show/3">Finish Biology Chapter 50 Guided Notes</a> -- 
                <span class="pomodoros">2 pomodoros</span> <br> 
            </li>
            <li> 
                <input type="checkbox" name="to-do" value="4"> 
                <a href="show/4">Finish Biology Chapter 51 and Notes</a> --
                <span class="pomodoros">4 pomodoros</span> <br> 
            </li>
            <li> 
                <input type="checkbox" name="to-do" value="5"> 
                <a href="show/5">Read Biology Chapter 52 and Notes</a> -- 
                <span class="pomodoros">8 pomodoros</span> <br> 
            </li>
            <li> 
                <input type="checkbox" name="to-do" value="6"> 
                <a href="show/6">Have fun!!</a> -- 
                <span class="pomodoros">0 pomodoros</span> <br> 
            </li>
          </ol></form>
           <div id="new-todo-block">
           
            Add To-do: 
            <input id="added-to-do" type="text" name="AddedToDo" placeholder="Add a new to-do..."><br>
            Add Description: 
            <input id="to-do-description" type="text" name="ToDoDescription" placeholder="Description (optional)..."><br>
            Number of Pomodoros:
            <input id="new-pomo-estimate" type="number" name="pomodoros" placeholder="Add pomodoros..."><br>

       <input id="add-new-to-do-button" type="submit" value="Add">
         </div>