<h2>Add a new to-do</h2>
<form action="/todo/create">
    Add To-do: 
        <input id="added-to-do" type="text" name="description" placeholder="Add a new to-do..."><br>
    Add Description: 
        <input id="to-do-description" type="text" name="description" placeholder="Description (optional)..."><br>
    Number of Pomodoros:
        <input id="new-pomo-estimate" type="number" name="pomodoro_estimate" placeholder="Add pomodoros..."><br>

       <input id="add-new-to-do-button" type="submit" value="Add">
</form>