<span class="font">
        Edit to-do</span> <br>
        <br>
        <span class="font2">
        Read English Intro and Chapter 1<br>
        <br>
        Make sure to use post-it notes!<br></span>
        <span class="font3">
        5 pomodoros</span><br>
        <br>
        Enter edited to-do:
        <input id="edit-to-do" type="text" name="EditToDo" placeholder="Edit to-do title..."><br>
        Enter edited description:
        <input id="edit-description" type="text" name="EditDescription" placeholder="Edit description (optional)..."><br>
        <input id="done-button" type="submit" value="Done">